
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    background-color:blanchedalmond;
}

.sub-heading{
    color: rgb(81, 81, 197);
}

#registerbtn{
    color: rgb(74, 74, 180);
}





